@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-white: #EFEFEF;
  --main-blue-color: #26539C;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.arrowLeftContainer {
  animation: arrowLeft 1s infinite ease-in-out;
}

.arrowRightContainer {
  animation: arrowRight 1s infinite ease-in-out;
}

@keyframes arrowLeft {
  0% {
    left: 2.5rem;
  }
  50% {
    left: 2rem;
  }
  100% {
    left: 2.5rem;
  }
}

@keyframes arrowRight {
  0% {
    right: 2.5rem;
  }
  50% {
    right: 2rem;
  }
  100% {
    right: 2.5rem;
  }
}